.Navbar {
  background-color: antiquewhite;
  margin-bottom: 2rem;
  padding: 2rem;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Navbar .navlinks {
  padding: 2rem;
}

.Navbar a {
  margin-inline: 1rem;
  text-decoration: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
